<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Enlaces</title>
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'
      rel='stylesheet'
    />
    <style>
      body {
        font-family: 'Poppins', sans-serif;
        color: #474747;
        background-color: #f9f9f9;
        margin: 0;
      }
      h2,
      p {
        margin: 0;
      }
      a {
        max-width: 100%;
        display: block;
        word-wrap: break-word;
        overflow-wrap: break-word;
      }
      .container {
        max-width: 750px;
        margin: auto;
        background-color: #ffffff;
        border: 1px solid #dddddd;
      }
      .header {
        text-align: left;
        padding: 22px;
        background-color: #1f2937;
        color: #ffffff;
      }
      .main {
        display: flex;
        flex-direction: column;
        padding: 22px;
        gap: 8px;
      }
      .footer {
        text-align: left;
        padding: 40px 22px;
        background-color: #1f2937;
        color: #ffffff;
      }
      .enlace-container {
        padding: 12px;
        background-color: #e9f5ff;
      }
      .enlace-title {
        font-weight: 600;
        color: #1f2937;
      }
      .info-container {
        padding: 12px;
        background-color: #ffecd9;
      }
    </style>
  </head>
  <body class='container'>
    <header class='header'>
      <h1>Opina.Ar</h1>
    </header>
    <main class='main'>
      <h2>¡Hola! Te dejamos los enlaces de la encuesta que creaste</h2>
      <p>Accedé al enlace de participación escaneando el código QR:</p>
      <img
        src='{{qrCodeImage}}'
        alt='QR Code'
        style='width: clamp(200px, 100%, 300px); margin: 0 auto;'
      />
      <div class='enlace-container'>
        <p class='enlace-title'>Enlace de participación:</p>
        <a href='{{participationLink}}'>{{participationLink}}</a>
      </div>
      <div class='enlace-container'>
        <p class='enlace-title'>Consultá el estado de tu encuesta acá:</p>
        <a href='{{consultationLink}}'>{{consultationLink}}</a>
      </div>
      <div class='info-container'>
        <p style='color: #ff6b15'>Recordá que no almacenamos datos de usuarios
          ni de correos. ¡Es totalmente anónimo!</p>
      </div>
    </main>
    <footer class='footer'>
      <p>Gracias por utilizar nuestros servicios.
        <strong>Equipo de Opina.Ar</strong></p>
    </footer>
  </body>
</html>